# Directorio temporal que se genera en las ejecuciones de algunos scripts
tmp

# Ficheros del torneo
infoTorneo.cfg
pistas.txt
parejas.txt
restricciones.txt

ranking-jornada??.txt
ranking-jornada??.html
ranking.txt
ranking.html

parejasSinJugar-jornada??.txt
parejasSinJugar.txt
partidos-jornada??.txt
partidos.txt

calendario-jornada??.txt
calendario-jornada??.html
calendario.txt
calendario.html
