# Directorio temporal que se genera en las ejecuciones de algunos scripts
tmp

# Ficheros del torneo
infoTorneo.cfg
pistas.txt
parejas.txt
restricciones.txt

ranking-mes??.txt
ranking-mes??.html
ranking.txt
ranking.html

parejasSinJugar-mes??.txt
parejasSinJugar.txt
partidos-mes??.txt
partidos.txt
partidos.html

calendario-mes??.txt
calendario-mes??.html
calendario.txt
calendario.html
