/* CSS para elementos concretos de la pagina del padel */

/* Para todo el HTML */
* {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* El input = barra de busqueda en las tablas */
.myInput {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    width: 50%;
}

/* Tablas */
.myTable {
    border-collapse: collapse;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
.myTable td, .myTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
.myTable tr:nth-child(even){background-color: #f2f2f2;}
.myTable tr:hover {background-color: #ddd;}
.myTable th {
    text-align: left;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

/* Titulos */
h1 {
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;   
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
    text-align: center;
}
h2 {
    color: #859085;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;   
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

/* Tabs */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin: 0 30px 0 30px;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin: 0 30px 0 30px;
}
